/* Respectivo Banner con botones y inicio de la pagina web */


* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Relleno en donde se ubican los textos */
section div .banner {
  padding: 200px 0 800px 0;
}

/* Justificar */
section div .banner__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


/* Texto h1 */
div .banner__text h1 {
  font-family: Heebo, sans-serif;
  width: 500px;
  font-weight: 900;
  color:#d4d6df;
}


/* Info de Los mejores productos del mercado y !Contactanos Ya! */
div .banner__text p {
  
  color:#d4d6df;
  margin-bottom: 20px;
  height: auto;
  letter-spacing: normal;
  font-family: 'PT Sans';
  text-align: left;
}


/* Margen de espacio de los botones */
div .links {
  margin-top: 25px;
}


/* Botones Crear y Crear Cuenta, tamaños y letra */
div .links a {
  font-size: 0.85rem;
  font-family: 'PT Sans';
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
}


div .links__abouta {
  background-color:#38032b;
  color:white;
  transition: 1s;
}
/* Color Boton Crear */
div .links__about {
  background-color:#1a1b1d;
  color:white;
  transition: 1s;
}



/* Color Crear Cuenta */
div .links__shop {
  color:#d4d6df;
}


/* Barra de crear usuario, cambio de naranja a verde */
div .links__shop span::after {
  content: " ";
  display: inline-block;
  width: 24px;
  margin: 0 0 3px 10px;
  border: 2px solid orange;
  background-color: green;
}
div .links__shop span:hover:after {
  border: 2px solid olivedrab;
  background-color: red;

  transition: 1.5s;
}
div .imagen__img {
  padding: 0% 1000% 0% 80%;
}


/* Alinear el texto al centro, organizado */
@media (min-width: 991px) {
  .container-top,
  .container-section {
    max-width: 1120px;
    margin: auto;
    padding: 0 24px;
  }

  section div .banner__text {
    width: 50%;
    max-width: 472px;
  }
  div .banner__text h1 {
    font-size: 5.3rem;
    line-height: 5.82rem;
    margin-top: 0;
    min-width: 301px;
    max-width: 449px;
  }
  div .banner__text p {
    font-size: 1.11rem;
  }
}
