body{
    font-family: system-ui;
}

header{
    background-color: #474749;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 0 7px 8px -3px rgb(112, 96, 96);
    width: 100%;
    margin-top: -10px;
    z-index: 99;
}

.container{
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

.header-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}


.logo{
    width: 134px;
    height: 94px;
    cursor: pointer;
}


.cart{
    width: 39px;
    height: 38px;
    /* cursor: pointer; */
}

.cart-products{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;

    min-width: 290px;
}

